#slideimages {
  /* border:2px solid black; */
  height: 300px;
  /* margin-top: 10px; */
}

#con1 {
  display: grid;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  grid-template-columns: repeat(3, 34%);
  grid-template-rows: 200px;
  justify-content: space-evenly;
  gap: 40px;
  /* border: 2px solid black; */
  /* padding: 20px; */
}
#con1 > div {
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: 0px;
}
a > img {
  width: 420px;
  height: 197px;
  display: block;
  border-radius: 5px;
}
.imgs {
  width: 321%;
  margin-top: 1px;
  border-radius: 5px;
}

#offers1 {
  display: flex;
  justify-content: space-between;
}
#sample {
  display: flex;
}
h3 {
  font-family: sans-serif;
}
/* PRODUCTS */
.product-container {
  /* border: 2px solid black; */
  height: 150px;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(16, 350px);
  grid-template-rows: repeat(1, 140px);
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.product-container > div {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.product-container::-webkit-scrollbar {
  display: none;
}

/* fetures */

#featurebrands {
  /* border:2px solid black; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 70px 0px;
  gap: 5px;
  width: 92.7%;
  height: 300px;
  margin: auto;
  color: rgb(75, 72, 72);
  padding: 5px;
}

#featurebrands1 {
  display: flex;
  justify-content: space-between;
}

.featurebrands2 {
  /* border: 2px solid black; */
  height: 220px;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(34, 180px);
  grid-template-rows: repeat(1, 0px);
  gap: 18px;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: space-evenly;
}
.featurebrands2 > div {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.featurebrands2::-webkit-scrollbar {
  display: none;
}
#feature_brand_images {
  border-radius: 10px;
  margin-left: 0px;
}
#feature_brand_images:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

* {
  margin: 0;
}

.textdeco {
  text-decoration: none;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

#sabiske {
  height: 400px;
  margin-top: 50px;
  /* border:1px solid black; */
  position: relative;
}
#forpink {
  height: 220px;
  background-color: rgb(255, 238, 238) !important;
}
#fortime {
  height: 95px;
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  align-items: flex-end;
}
#containerfor {
  height: 300px;
  /* border: 2px solid rgb(150, 53, 53); */
  position: absolute;
  /* margin-bottom: 100px; */
  display: flex;
  width: 100%;
  bottom: 0px;
  overflow-x: auto;
}

#DOTD {
  margin: 0px 10px 20px 30px;
  font-family: Open Sans, sans-serif !important;
  font-weight: 700;
  font-size: 30px;
  color: #10847e;
}
#divest {
  height: 35px;
  border: 1px solid salmon;
  margin: 0px 10px 15px 30px;
  background-color: salmon;
}
#timeleft {
  margin: 0px 10px 20px 30px;
  font-family: Open Sans, sans-serif !important;
  font-weight: 700;
  font-size: 20px;
  color: rgb(249, 115, 137);
}
.deals {
  height: 100%;
  /* border: 1px solid black; */
  width: 200px;
  margin-left: 25px;
}
.plam {
  width: 200px;
  height: 65%;
  border: 2px solid rgb(201, 195, 195);

  background-color: white;
  background-image: url(https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg);
  background-repeat: no-repeat;
  background-size: 50% 15%;
  left: 0;
  top: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 7px;
}
.plamper {
  font-family: Open Sans, sans-serif !important;
  color: rgb(87, 84, 84);
  font-size: 15px;
  margin: 5px;
}
.fMRP {
  font-family: Open Sans, sans-serif !important;
  color: rgb(183, 181, 181);
  font-weight: 600;
  margin: 5px;
}
.fMRP + p {
  text-decoration: line-through;
  color: rgb(177, 175, 175);
}
.forrupa {
  color: rgb(87, 84, 84);
  margin: 5px;
}

.displayfix {
  display: flex;
  align-items: center;
}

.ofer {
  margin: 5px 0px 0px 10px;
}

.oferimg {
  height: 60%;
  width: 40%;
  align-items: center;
  margin: 20px 0px 0px 50px;
}

/* this css for offers just for you */

#OJFY {
  display: flex;
  align-items: center;
}
#offer {
  font-family: Open Sans, sans-serif !important;
  color: gray;
  margin-left: 20px;
}
#offersJustForYou {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 150px;
  margin-top: 50px;
  /* border: 1px solid black; */
}
#OJFY {
  height: 50px;
  /* border: 1px solid black; */
}
#CARDS {
  display: flex;
  height: 80px;
  /* border: 1px solid black;  */
  overflow-x: auto;
  width: 100%;
}
#CARDS::-webkit-scrollbar {
  width: 0;
  height: 0px;
}
.card {
  height: 76px;
  width: 200px;

  border-radius: 5px;
  margin-left: 50px;
  /* border: 1px solid black; */
}
.thisforimgtext {
  height: 76px;
  border: 2px solid rgb(193, 187, 187);
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.forimge {
  height: 50%;
}
.forpera {
  margin: 10px;
}
.forcode {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
.forp {
  margin: 0;
  color: #4f585e;
  font-family: Open Sans, sans-serif !important;
  font-size: 14px;
}
.code {
  margin: 0;
  color: rgb(108, 105, 105);
  font-weight: 600;
  font-family: Open Sans, sans-serif !important;
}
.med {
  margin: 0;
  color: rgb(92, 90, 90);
  font-size: 14px;
  font-family: Open Sans, sans-serif !important;
  font-weight: 600;
}
#bluepart {
  height: 250px;
  margin: 0;
  background-color: #d4e2fa;
  /* position: absolute; */
}

#scrolpart {
  display: flex;
  border: 1px solid black;
  border-top: #10847e;
  border-bottom: #10847e;
  height: 250px;
  position: absolute;
  bottom: 1px;
  width: 100%;
  overflow-x: auto;

  /* background-color:darkgray; */
}
#scrolpart::-webkit-scrollbar {
  width: 0;
  height: 0px;
}
.firstbox {
  height: 250px;
  width: 270px;
  /* border: 1px solid black; */
  margin: 0px 14px 0px 28px;
  border-radius: 15px;
  bottom: 20px;
}
.forfirstbox {
  display: flex;
  margin: 20px;
}
.forfirstbox > img {
  height: 20px;
}
.forfirstbox > p {
  font-family: Open Sans, sans-serif !important;
  color: rgb(87, 84, 84);
}
.box {
  height: 220px;
  width: 270;
  border: 2px solid rgb(223, 223, 223);
  background-color: white;
  margin: 0px 14px 0px 14px;
  border-radius: 15px;
}
.box:hover {
  height: 220px;
  width: 270px;
  border: 2px solid #10847e;
  margin: 0px 14px 0px 14px;
  border-radius: 15px;
}
.butt:hover {
  background-color: #10847e;
  color: white;
}
a {
  text-decoration: none;
  text-overflow: ellipsis;
}

/* this css for boxs */
#Frequentlay {
  margin-top: 70px;
}
.imgte {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
.h3 {
  text-decoration: none;
  color: black;
  font-family: Open Sans, sans-serif !important;
  font-weight: 100;
  margin: 10px;
}
.h3 + p {
  color: grey;
  margin: 10px;
  font-family: Open Sans, sans-serif !important;
}
.innerdiv {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
}
.inn {
  display: flex;
  justify-content: space-between;
}
.rupe {
  color: black;
  margin-right: 10px;
  font-weight: 600;
  font-family: Open Sans, sans-serif !important;
}
.rupe + p {
  color: grey;
  font-family: Open Sans, sans-serif !important;
}
.butt {
  height: 30px;
  width: 80px;
  border: 0px;
  /* border: 1px solid black; */
  background-color: white;
  color: #10847e;
  font-weight: 600;
  padding-right: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: Open Sans, sans-serif !important;
  font-size: 14px;
}
#fordanda {
  width: 270px;
}

.f1 {
  height: 70px;
  border: 1px solid #d4e2fa;
}
.f2 {
  margin: 50px 0px 0px 20px;
  font-family: Open Sans, sans-serif !important;
  font-size: 20px;
  font-weight: 600;
  color: rgb(93, 89, 89);
}
