
*{
        padding: 0px;
        margin: 0px;
        }
        #nav {
                width: 100%;
        background-color: #10847E;
        height: 24%;
        margin-top: -17px;
        position: fixed;
}
body{
padding: 0px;
margin: 0px;
}

#logo img {
        width: 10%;
        height: 10%;
        margin-left: 100px;
        margin-top: 40px;
}

#searchbox {
        display: flex;
        width: 55%;
        /* border: 1px solid black; */
        background-color: white;
        margin-top: -52px;
        height: 50px;
        border-radius: 10px;
        margin-left: 310px;

}


#pincode a {
        outline:none;
        background: transparent;
        border-radius: 10px;
        color: #10847E;
        font-weight: 500;
        font-size: 17px;
        font-weight: bolder;
        height: 40px;
        border: transparent;
        margin-top: 14px;
        text-decoration: none;
        
        width:120px ;
        /* padding: 5px; */
        /* border: 1px solid blue; */
       display: block;
        outline:none;
        margin-left: 10px;

}

#searchbox input {
        display: block;
        border: transparent;
        width: 620px;
        outline:none;
         /* border: 1px solid red; */
         margin-left: 17px;
}

svg {
        color: grey;
        display: block;
        width: 40px;
        height: 20px;
        /* border: 1px solid red; */
        margin-left: 75px;
        margin-top: 10px;
        

}

#navlist {
        display: flex;
        /* border: 1px solid red; */
        width: 500px;
        margin-left: 310px;
        margin-top: 20px;
        color: white;
        justify-content: space-around;
        font-size: 17px;
}
#navlist a {
        
        color: white;
        text-decoration: none;
}

#sidelist {
        display: flex;
        justify-content: space-around;
        /* border: 1px solid black; */
        margin-left: 1070px;
        width: 280px;
        margin-top: -33px;
        color: white;
        text-decoration: none;
}
#sidelist img {
        color: white;
        width: 30px;
        height: 30px;
}
#sidelist  a{
        color: white;
        width: 30px;
        text-decoration: none;
        
}
.hi {
        width: 55%;
       background-color: white;
        margin-left: 310px;
        position: relative;
        top: 70px;
        height: 50px;
     
        
        
}
.hi h3 {
        margin-left: 10px;
        color: grey;
        font-weight: 200;
        margin-top: 5px;
        border-radius: 5px;
}
#cont2>div{
        background-color:white ;
        border: 1px solid rgb(248, 241, 241);
        border-radius: 3px;
        margin-left: 440px;
        width: 46%;
       
} 
#cont2{
        position: sticky;
        top:0px
} 

/* padding left = 10px 
